.dots-container {
    margin-bottom: 50px;
}

.slider-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-wrapper {
    display:flex;
    justify-content: center;
    align-items: center;
}

.slick-dots li button {
    width: 16px;
    height: 16px;
}