.dots-container {
    /* position: relative; */
    margin-bottom: 50px;
}

.slider-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-wrapper {
    display:flex;
    justify-content: center;
    align-items: center;
}