.topnav {
  width: 100%;
  min-height: 71px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-logo {
  height: 100px;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: var(--color-dark-primary);
  cursor: pointer;
}
