.card {
  text-decoration: none;
  list-style-type: none;
  color: var(--color-dark-primary);
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card-item {
  border: 1px solid var(--color-dark-primary);
  border-radius: 8px;
  padding: 30px;
}
