.input-err {
  border: 1px solid red;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
}

.registration-form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.registration-form-title {
  font-size: 1.5rem;
  margin: 5px 0 5px 0;
}

.registration-form-block {
  width: 400px;
  display: flex;
  flex-direction: column;
}

.registration-form-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.registration-form-label {
  text-align: left;
  text-transform: capitalize;
}

.registration-form-error {
  color: red;
  font-size: 0.8rem;
  margin-top: 0.2rem;
}
