:root {
  --font-family-clash: 'Clash Display', sans-serif;
  --font-family-satoshi: 'Satoshi', sans-serif;

  --color-dark-primary: #2a254b;
  --color-primary: #4e4d93;
  --color-light-gray: #f9f9f9;
  --color-border-gray: #ebe8f4;
  --color-white: #ffffff;
  --color-border-dark: #cac6da;
  --color-text-link: #726e8d;

  line-height: 1.5;
  font-weight: 400;

  color: var(--color-white);
  background-color: var(--color-white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  font-family: var(--font-family-clash);
  color: var(--color-dark-primary);
}
